.circles {
    color: #FFF;
    font-size: 20px;
    transition: all 0.3s;
    position: relative;
    z-index: 5;
    text-decoration: none;
}

@media (max-width: 1000px) {
    .circles{
        font-size: 10px;
    }
}

.circles span {
    transition: all 0.3s;
}

.circles::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    transform: scale(0.1, 1);
}

.circles:hover span {
    letter-spacing: 2px;
}

.circles:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.circles::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
}

.circles:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}